.user {

  display: flex;
  padding: 10px;

  & .user-name {
    font-size: 50px;
    margin-top: 5px;
    align-items: center;
    color:white;
  }

  & img {
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    align-items: flex-end;
    margin-left: auto;
  }
}

@media (max-width: 481px) {
  .user {
    margin-top: 40px;
    justify-content: center;
    
    & .user-name {
      font-size: 45px;
      align-items: center;
      margin-right: 5px;
    }
  }
}